body{
    font-family: sans-serif
}

#app{
  width: 95vw;
  height: 95vh;
  margin:0px;
  padding: 0px;
  font-size: 80%;
}

#side-bar{
  background-color: #EEEEEE;
  padding:5px;
  margin: 0px;
  width: 30vw;
  text-align: center;
}

#visuals-menu{
  padding:5px;
}
/* Menu bar heading  */
#side-bar p{
  font-weight: bold;
}

.menu-item {
    border: 1px solid gray;
    list-style-type: none;
    padding: 5px;
    word-wrap: break-word;
}

.container {
  display: flex;
}

.hover {
    background: lightgray
}

.selected{
    background: gold
}
